# =====================================================
# CONFIGURACIÓN GENERAL
# =====================================================

APP_NAME=Chuli-Facturador
APP_ENV=development
APP_DEBUG=True
APP_HOST=127.0.0.1
APP_PORT=8000

# =====================================================
# ARCA / AFIP
# =====================================================

CUIT=XXXXXXXXXXX
AFIP_PRODUCTION=False
AFIP_ACCESS_TOKEN=PEGAR_TOKEN_ACA

AFIP_CERT_PATH=certificado.crt
AFIP_KEY_PATH=privada.key

PUNTO_VENTA=1
TIPO_COMPROBANTE=11

# =====================================================
# BASE DE DATOS
# =====================================================

DATABASE_PATH=data/facturador.db

# =====================================================
# ARCHIVOS Y CARPETAS
# =====================================================

VENTAS_PATH=ventas
LOG_PATH=logs
ULTIMO_PROCESO_PATH=logs/ultimo_proceso.txt

# =====================================================
# REINTENTOS ARCA
# =====================================================

ARCA_MAX_REINTENTOS=4
ARCA_REINTENTO_1_SEGUNDOS=5
ARCA_REINTENTO_2_SEGUNDOS=10
ARCA_REINTENTO_3_SEGUNDOS=20
ARCA_REINTENTO_4_SEGUNDOS=40

# =====================================================
# LOGS
# =====================================================

LOG_LEVEL=INFO
LOG_MAX_BYTES=5242880
LOG_BACKUP_COUNT=5